tr.with td {
    font-weight: bold;
}
tr.server { display: none; }
b.country { display: none; }
#tpm .list {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
#tpm .cut {
    width: 154px;
    overflow: hidden;
}
#tpm .cut:hover {
    overflow: visible;
    display: absolute;
}
#tpm .totp {
    color: #a5e12d;
    text-align: right;
    border-top: 3px solid #a5e12d;
    margin-top: 10px;
}
#tpm .count {
    font-weight: bold;
    padding-left: 30px;
    padding-right: 15px;
}
#top {
    height: 100px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 504px;
}
#allply {
	float: right;
    height: 100px;
    width: 500px;
}
#msg {
	background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 10px 10px 40px;
    position: absolute;
    top: 73px;
    width: 610px;
}
#msg.warn {
	background: url(/img/warn.png) no-repeat 10px rgba(255, 255, 255, 0.1);
}
